.info_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;


    @media screen and (max-width: 767px) {
        flex-direction: column;

        .city {
            margin: 1em 0;
        }
    }
    
    &:last-of-type {
        margin-bottom: 0;
    }

    .additional_details {
        min-width: 250px;
    }

    h3 {
        margin-top: 0;
    }
}