.info_section {
    display: flex;
    line-height: 24px;

    &.horizontal {
        flex-direction: row;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        h2 {
            width: 250px;
        }
    }

    &.vertical {
        flex-direction: column;
    }
}
